<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='css/style.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='js/tabs.js')
    body
        .main-container
        .cart-wrap__shower
        header
            include blocks/header.pug
        //- Header end
        main 
            .slider-wrap
                .slider-wrap__container.container
                    .slider-text
                        h1
                            | The Best 
                            br
                            span Woocommerce
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            | eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        button Buy Now

                    .slider-text
                        h1
                            | The Best 
                            br
                            span Woocommerce
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            | eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        button Buy Now

                    .slider-text
                        h1
                            | The Best 
                            br
                            span Woocommerce
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            | eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        button Buy Now
                    .slider-text
                        h1
                            | The Best 
                            br
                            span Woocommerce
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            | eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        button Buy Now                      
            .best-seller.container
                .best-seller_title-wrap
                    h2.best-seller_title Best sellers
                    span.best-seller_subtitle The best productions from us
                    p.best-seller_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .best-seller_products
                    .best-seller_slider
                        .best-seller_slider-item
                            .best-seller_product-img
                                .product-img__hover
                                    a.animated.fadeInLeft.faster(href='/cart.html')
                                        img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/product-detail.html')
                                        img.svg-formater(src='img/all-icons/like.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/comparison.html')
                                        img.svg-formater(src='img/all-icons/compare.svg', alt='')
                                img.product-img(src='img/img-products/tishort2.png', alt='')
                                img.product-img2(src='img/img-products/tishort.png', alt='')
                            .best-seller_product-title
                                a(href='/product-detail.html') Cruise Dual Analog
                            .best-seller_product-price $250.00
                            .best-seller_product-stars
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                        .best-seller_slider-item
                            .best-seller_product-img
                                .product-img__hover
                                    a.animated.fadeInLeft.faster(href='/cart.html')
                                        img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/product-detail.html')
                                        img.svg-formater(src='img/all-icons/like.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/comparison.html')
                                        img.svg-formater(src='img/all-icons/compare.svg', alt='')
                                img.product-img(src='img/img-products/shos.jpg', alt='')
                                img.product-img2(src='img/img-products/shos.jpg', alt='')
                            .best-seller_product-title
                                a(href='/product-detail.html') Cruise Dual Analog
                            .best-seller_product-price $250.00
                            .best-seller_product-stars
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                        .best-seller_slider-item
                            .best-seller_product-img
                                .product-img__hover
                                    a.animated.fadeInLeft.faster(href='/cart.html')
                                        img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/product-detail.html')
                                        img.svg-formater(src='img/all-icons/like.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/comparison.html')
                                        img.svg-formater(src='img/all-icons/compare.svg', alt='')
                                img.product-img(src='img/img-products/tishort2.png', alt='')
                                img.product-img2(src='img/img-products/bag.jpg', alt='')
                            .best-seller_product-title
                                a(href='/product-detail.html') Cruise Dual Analog
                            .best-seller_product-price $250.00
                            .best-seller_product-stars
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                        .best-seller_slider-item
                            .best-seller_product-img
                                .product-img__hover
                                    a.animated.fadeInLeft.faster(href='/cart.html')
                                        img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/product-detail.html')
                                        img.svg-formater(src='img/all-icons/like.svg', alt='')
                                    a.animated.fadeInLeft.faster(href='/comparison.html')
                                        img.svg-formater(src='img/all-icons/compare.svg', alt='')
                                img.product-img(src='https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&url=https%3A%2F%2Fcdn-img.instyle.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F684xflex%2Fpublic%2F1584980922%2Fmicro-bag-trend-1.jpg%3Fitok%3D7RIMKvYw', alt='')
                                img.product-img2(src='https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&url=https%3A%2F%2Fcdn-img.instyle.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F684xflex%2Fpublic%2F1584980922%2Fmicro-bag-trend-1.jpg%3Fitok%3D7RIMKvYw', alt='')
                            .best-seller_product-title
                                a(href='/product-detail.html') Cruise Dual Analog
                            .best-seller_product-price $250.00
                            .best-seller_product-stars
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star.svg', alt='')
                                img.svg-formater(src='img/all-icons/star-e.svg', alt='')
            section.section-info
                .section-info__wrap.container
                    .section-info__item
                        img(src='img/all-icons/diamond.svg', alt='')
                        h3.section-info__title Special offers
                        .section-info__subtitle Shop Big Save Big
                    .section-info__item
                        img(src='img/all-icons/plane.svg', alt='')
                        h3.section-info__title Free delivery
                        .section-info__subtitle On Orders Above $99
                    .section-info__item
                        img(src='img/all-icons/share.svg', alt='')
                        h3.section-info__title 30 Days Return
                        .section-info__subtitle Policy We Offers
                    .section-info__item
                        img(src='img/all-icons/rocket.svg', alt='')
                        h3.section-info__title Fastest Shipping
                        .section-info__subtitle 2 Days Express
            section.categories.container
                .categories-item
                    img(src='img/categories/fation1.png', alt='')
                .categories-item
                    img(src='img/categories/fation2.jpg', alt='')
                .categories-item
                    img(src='img/categories/fation3.png', alt='')                
        section.products.container
            .products-title__wrap
                h3.products-title Featured Products
                span.products-subtitle Newest trends from top brands
            .products-item__list
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/tishort2.png', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='https://cdn.shopify.com/s/files/1/0049/1212/products/OBK-35L.jpg?v=1551339488', alt='')
                        img.product-img2(src='https://cdn.shopify.com/s/files/1/0049/1212/products/OBK-35L.jpg?v=1551339488', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/bag.jpg', alt='')
                        img.product-img2(src='img/img-products/bag.jpg', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/shos.jpg', alt='')
                        img.product-img2(src='img/img-products/shos.jpg', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/tishort2.png', alt='')
                        img.product-img2(src='img/img-products/tishort.png', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/tishort2.png', alt='')
                        img.product-img2(src='img/img-products/tishort.png', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/tishort2.png', alt='')
                        img.product-img2(src='img/img-products/tishort.png', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/tishort2.png', alt='')
                        img.product-img2(src='img/img-products/tishort.png', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')                        
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/tishort2.png', alt='')
                        img.product-img2(src='img/img-products/tishort.png', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star-e.svg', alt='')
                .best-seller_slider-item
                    .best-seller_product-img
                        .product-img__hover
                            a.animated.fadeInLeft.faster(href='/cart.html')
                                img.svg-formater.cart-btn__add(src='img/all-icons/w-cart.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/product-detail.html')
                                img.svg-formater(src='img/all-icons/like.svg', alt='')
                            a.animated.fadeInLeft.faster(href='/comparison.html')
                                img.svg-formater(src='img/all-icons/compare.svg', alt='')
                        img.product-img(src='img/img-products/tishort2.png', alt='')
                        img.product-img2(src='img/img-products/tishort.png', alt='')
                    .best-seller_product-title
                        a(href='/product-detail.html') Cruise Dual Analog
                    .best-seller_product-price $250.00
                    .best-seller_product-stars
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
                        img.svg-formater(src='img/all-icons/star.svg', alt='')
        section.subscribe.container
            .form
                h1.form-title Get Out Special Discount
                span.form-subtitle Donec eu tristique felis. Duis augue mi, auctor ut purus et, dignissim aliquet quam. register your email for news and special offers
                form#subscribe.subscribe-form(action='')
                    input#fname(type='text', name='fname', placeholder='E-mail address')
                    button.button GET COUPON NOW
            .clients
                img.clients-brands(src='img/brands/brand-logo-1a.png', alt='')
                img.clients-brands(src='img/brands/brand-logo-2a.png', alt='')
                img.clients-brands(src='img/brands/brand-logo-3a.png', alt='')
                img.clients-brands(src='img/brands/brand-logo-4a.png', alt='')
                img.clients-brands(src='img/brands/brand-logo-4a.png', alt='')
        //- fotter
        include blocks/fotter.pug
        //- fotter end