footer.footer
  .top__footer-wrap
    .top__footer.footer-container
      .contact-with
        | We&rsquo;re confident we&rsquo;ve provided all the best for you. Stay connect with us
      .icons-social
        a(href='')
          img.svg.svg-formater(src='img/all-icons/facebook.svg', alt='')
        a(href='')
          img.svg.svg-formater(src='img/all-icons/twitter.svg', alt='')
        a(href='')
          img.svg.svg-formater(src='img/all-icons/instagram.svg', alt='')
        a(href='')
          img.svg.svg-formater(src='img/all-icons/linkedin.svg', alt='')
        a(href='')
          img.svg.svg-formater(src='img/all-icons/behance.svg', alt='')
  .center__footer.footer-container
    .site-footer__widget.footer-links
      h5.footer-links__title Information
      ul.footer-links__list
        li
          a(href='') Delivery Information
        li
          a(href='') Discount
        li
          a(href='') Sitemap
        li
          a(href='') Privacy Policy
        li
          a(href='') My Account
    .site-footer__widget.footer-links
      h5.footer-links__title My account
      ul.footer-links__list
        li
          a(href='') Sign In
        li
          a(href='') View Cart
        li
          a(href='') My Wishlist
        li
          a(href='') Check out
        li
          a(href='') Track My Order
    .site-footer__widget.footer-links
      h5.footer-links__title Help
      ul.footer-links__list
        li
          a(href='') F.A.Q
        li
          a(href='') Shipping
        li
          a(href='') Contact Us
        li
          a(href='') Privacy Policy
    .site-footer__widget.footer-links
      h5.footer-links__title Contact info
      ul.footer-links__list
        li
          a(href='')
            img.svg-2.svg-formater(src='img/all-icons/globe.svg', alt='')
            |  1234 Your
            |                         Address, Country
        li
          a(href='')
            img.svg-3.svg-formater(src='img/all-icons/phone.svg', alt='')
            | +1 234 5678
            |                         9999
        li
          a.footer-email(href='')
            img.svg-3.svg-formater(src='img/all-icons/envelope.svg', alt='')
            | mail@domain.com
  .bottom__fotter-wrap
    .bottom__fotter.footer-container
      .bottom__fotter-copyright
        | Copyright 2017 RenoshopBee all right reserved - Design by
        | BeeStudios
      .site-footer__payments
        img(src='img/all-icons/visa.png', alt='')
        img(src='img/all-icons/paypal.png', alt='')
        img(src='img/all-icons/amazon.png', alt='')
        img(src='img/all-icons/maestro.png', alt='')
        img(src='img/all-icons/card.png', alt='')
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  script(src='js/libs.min.js')
  script(src='js/main.js')
  script(src='js/price-plus-minis.js')
  script(src='js/price_range_script.js')
  script(src='js/jquery.zoom.min.js')
  