.headroom.headroom--fixed(data-tolerance="5", data-offset="205")
  .top-menu
    .menu-wrap.container
      .number-email__wrap
        .number
          img.svg-formater(src='img/all-icons/phone.svg', alt='')
          a(href='callto:+994554240996')
            | +1
            | 123 456 789
        .email
          img.svg-formater(src='img/all-icons/envelope.svg', alt='')
          a(href='mailto:xeyyamit@gmail.com') info@company.com
      .icons-social
        a(href='')
          img.svg-formater(src='img/all-icons/facebook.svg', alt='')
        a(href='')
          img.svg-formater(src='img/all-icons/twitter.svg', alt='')
        a(href='')
          img.svg-formater(src='img/all-icons/instagram.svg', alt='')
        a(href='')
          img.svg-formater(src='img/all-icons/linkedin.svg', alt='')
        a(href='')
          img.svg-formater(src='img/all-icons/behance.svg', alt='')
  .bottom-menu
    .menu-wrap.container
      a(href='')
        img(src='img/logo.png', alt='')
      nav.menu
        ul.menu__list
          li
            a.active(href='#') home
          li
            a(href='/category-grid.html') women
          li
            a(href='/category-grid.html') men
          li
            a(href='/category-grid.html') kids
          li
            a(href='/category-grid.html') Jewellery
          li
            a(href='#') Accessories
      .hamburger-wrap
        .cart.cart-btn
          img.svg-formater(src='img/all-icons/buy.svg', alt='')
          span.cart-number 2
        .search
          img.search-btn.svg-formater(src='img/all-icons/search.svg', alt='')
          input.search-input(type='text', name='search', placeholder='Search..')
          img.search-input__close.svg-formater(src='img/all-icons/close.svg', alt='')
        .nav_bg
          img.nav_bar.svg-formater(src='img/all-icons/menu.svg', alt='')
<!--header-space-->
.header-space
<!--hamburger-menu-->
.hamburger-menu
  nav
    .navigation
      .navigation-top
        a(href='')
          img(src='img/logo.png', alt='')
        .icons-social
          a(href='')
            img.svg.svg-formater(src='img/all-icons/facebook.svg', alt='')
          a(href='')
            img.svg.svg-formater(src='img/all-icons/twitter.svg', alt='')
          a(href='')
            img.svg.svg-formater(src='img/all-icons/instagram.svg', alt='')
          a(href='')
            img.svg.svg-formater(src='img/all-icons/linkedin.svg', alt='')
          a(href='')
            img.svg.svg-formater(src='img/all-icons/behance.svg', alt='')
      .navigation-body
        #tabs.tabs
          ul.tabs-title
            li
              a(href='#tabs-1') MENU
            li
              a(href='#tabs-2') Categories
          #tabs-1
            ul
              li
                a.active(href='#') home
              li
                a(href='#') women
              li
                a(href='#') men
              li
                a(href='#') kids
              li
                a(href='#') Jewellery
              li
                a(href='#') Accessories
          #tabs-2
            ul.menu-categories
              li
                a(href='')
                  | accessories 
                  span (15)
              li
                a(href='')
                  | Dresses 
                  span (50)
              li
                a(href='')
                  | Women 
                  span (150)
              li
                a(href='')
                  | Men 
                  span (150)
              li
                a(href='')
                  | Watch 
                  span (150)
              li
                a(href='')
                  | Clothing 
                  span (150)
              li
                a(href='')
                  | Bags 
                  span (150)
      .navigation-fotter
        .number
          img.svg-formater(src='img/all-icons/phone.svg', alt='')
          a(href='callto:+994554240996') +1 123 456 789
        .email
          img.svg-formater(src='img/all-icons/envelope.svg', alt='')
          a(href='mailto:xeyyamit@gmail.com') info@company.com
<!--.cart-->
.cart-wrap
  .cart-wrap__header
    h3.widget-title
      | Shopping 
      span cart
    .close-side-widget
      | close
      img.svg-formater(src='img/all-icons/close.svg', alt='')
  .cart-wrap__body
    ul.cart-body
      li.cart-item
        a.cart-item__link(href='')
          img.cart-item__img(src='https://woodmart.xtemos.com/wp-content/uploads/2016/08/product-accessories-10.jpg', alt='')
          .cart-info
            span.product-title Decoration wooden present 
            span.quantity
              | 1 &times; 
              span.woocommerce-Price-amount.amount
                span.woocommerce-Price-currencySymbol $
                | 89.00
          img.cart-item__romove.svg-formater(src='img/all-icons/close.svg', alt='')
      li.cart-item
        a.cart-item__link(href='')
          img.cart-item__img(src='https://woodmart.xtemos.com/wp-content/uploads/2016/08/product-accessories-10.jpg', alt='')
          .cart-info
            span.product-title Decoration wooden present 
            span.quantity
              | 1 &times; 
              span.woocommerce-Price-amount.amount
                span.woocommerce-Price-currencySymbol $
                | 89.00
          img.cart-item__romove.svg-formater(src='img/all-icons/close.svg', alt='')
      li.cart-item
        a.cart-item__link(href='')
          img.cart-item__img(src='https://woodmart.xtemos.com/wp-content/uploads/2016/08/product-accessories-10.jpg', alt='')
          .cart-info
            span.product-title Decoration wooden present 
            span.quantity
              | 1 &times; 
              span.woocommerce-Price-amount.amount
                span.woocommerce-Price-currencySymbol $
                | 89.00
          img.cart-item__romove.svg-formater(src='img/all-icons/close.svg', alt='')
      li.cart-item
        a.cart-item__link(href='')
          img.cart-item__img(src='https://woodmart.xtemos.com/wp-content/uploads/2016/08/product-accessories-10.jpg', alt='')
          .cart-info
            span.product-title Decoration wooden present 
            span.quantity
              | 1 &times; 
              span.woocommerce-Price-amount.amount
                span.woocommerce-Price-currencySymbol $
                | 89.00
          img.cart-item__romove.svg-formater(src='img/all-icons/close.svg', alt='')
      li.cart-item
        a.cart-item__link(href='')
          img.cart-item__img(src='https://woodmart.xtemos.com/wp-content/uploads/2016/08/product-accessories-10.jpg', alt='')
          .cart-info
            span.product-title Decoration wooden present 
            span.quantity
              | 1 &times; 
              span.woocommerce-Price-amount.amount
                span.woocommerce-Price-currencySymbol $
                | 89.00
          img.cart-item__romove.svg-formater(src='img/all-icons/close.svg', alt='')
    // end product list
  .cart-wrap__fotter
    .shopping-cart__total
      strong Subtotal:
      span.shopping-cart__price
        span.shopping-cart__symbol $
        | 199.00
    .shopping-cart__button
      a.btn-cart.button(href='/cart.html') View cart
      a.btn-checkout.button(href='/checkout.html') Checkout